$width: 380px;
$space: 20px;
$centerWidth: ($width * 2) + $space;
.left,
.right {
  position: absolute;
  left: 0;
  width: 380px;
  height: calc(100vh - 79px);
  display: flex;
  flex-direction: column;
  padding-bottom: $space;
}
.right {
  left: initial;
  right: 20px;
}
.center {
  position: absolute;
  left: $width;
  bottom: $space;
  display: flex;
  width: calc(100vw - #{$centerWidth});
  height: 280px;
}